/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
p
  text-indent 2rem

.home .hero img
  max-width 450px!important

.subhead
  text-indent 0
  .chapter
    font-size 400%
    float left
    font-family Georgia
    line-height .6
    padding-top 0.3rem 
    padding-right 0.5rem
