/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.subhead::first-letter
  font-size 400%
  float left
  font-family Georgia
  line-height .8
  padding-right 8px